.parent {
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */

  /* flex-direction: column-reverse; */
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: space-around; */

  height: 800px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

#box-1 {
  /* order: 1; */
  background-color: violet;
}

#box-2 {
  background-color: green;
}

#box-3 {
  background-color: blueviolet;
}
