/* External css */

/* Element type selector */
/* h1{
    color: red
}

div{
    color: deeppink
} */

/* Class selector  */
/* .text {
    color: teal;
    background-color: yellowgreen;
} */

/* #text{
    color: blue;

} */